<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqx00DgFimTC31nQ777ewsFzWSXTdoung</string>
	<key>GCM_SENDER_ID</key>
	<string>162990216208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluentfolio</string>
	<key>PROJECT_ID</key>
	<string>fluentfolio-de883</string>
	<key>STORAGE_BUCKET</key>
	<string>fluentfolio-de883.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162990216208:ios:2f3b82ec6b1cc46805a695</string>
</dict>
</plist>